@font-face {
	font-family: GameFont;
	src: local("NanumBarunGothic"),
		url('NanumBarunGothic.eot') format('embedded-opentype'),
		url('NanumBarunGothic.woff') format('woff'),
		url('NanumBarunGothic.ttf') format('truetype'),
		url('NanumBarunGothic.otf') format('opentype'),
		url('NanumBarunGothic.svg') format('svg'),
		url('mplus-1m-regular.ttf') format('truetype');
}

.IIV::-webkit-media-controls-play-button,
video::-webkit-media-controls-start-playback-button {
	opacity: 0;
	pointer-events: none;
	width: 5px;
}